@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utility/_variables.scss";
@import "./utility/_fonts.scss";
@import "./utility/_utilities.scss";
@import "./utility/_sizing.scss";
@import "./utility/_mixins.scss";
@import "./utility/_colors.scss";
@import "./abstract/_grids.scss";
@import "./abstract/_layout.scss";
@import "./abstract/_borders.scss";
@import "./abstract/_shapes.scss";
@import "./components/_clickable.scss";
@import "./components/_hoverable.scss";
@import "./components/_navigation.scss";
@import "./components/_progress-bar.scss";
@import "./components/_circle-progress-bar.scss";
@import "./components/_buttons.scss";
@import "./components/_forms.scss";
@import "./components/_tables.scss";
@import "./components/_input.scss";
@import "./components/_accordion.scss";
@import "./components/_modal.scss";
@import "./components/_select-list.scss";
@import "./components/_dropdown.scss";
@import "./components/_checkbox.scss";
@import "./components/_date-picker.scss";
@import "./components/_scrollbar.scss";

/* Default Background */
.background {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #FAFAFA;
    overflow: hidden;
}