/* Default Styles for Accordion Menu */
.accordion {
    display: grid;
    grid-gap: 0.5rem;
}
  
.accordionTitle {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    background: #C5D8E8;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem; 
    width: 100%;
}
  
.accordionTitle h3 {
    font-weight: 600;
}
  
.dropdownUp,
.dropdownDown {
    height: 0;
    width: 0;
}
  
.dropdownUp {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #677382;
 }
  
.dropdownDown {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #677382;
}
  
.accordionContent {
    height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    text-align: left;
}
  
.accordionContent.show {
    height: auto;
    max-height: 9999px;
    padding: 1rem;
    transition: all 0.5s ease;
}
/* End of Accordion Menu Default Styles */

/* Default Styles for Refactored Accordion Menu */
.accordion-menu {
    transition: all 0.3s ease-in-out;
}

.accordion-header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;
    align-items: center;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-align: left;
}

.accordion-menu.expanded .accordion-body {
    max-height: 9999px;
}

.accordion-toggle {
    transition: transform 0.3s ease-in-out;
}

.accordion-menu.expanded .accordion-toggle {
    transform: rotate(-180deg);
}

.accordion-toggle {
    transform: rotate(0deg);
}
/* End of Accordion Menu Default Styles*/
  