.scrollable-table {
    max-height: 250px;
    overflow-y: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 8px 12px;
        border-bottom: 1px solid #B5D4E3;
      }
  
      th {
        background-color: #f2f2f2;
        text-align: left;
      }
    }
  }
  