.overlay-container {
    position: relative; /* Makes it a positioning context for absolute elements */
    display: inline-block
  }
  
  .overlay-circle {
    position: absolute; /* Takes the SVG out of the normal flow */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the SVG within the container */
    width: 10px; /* Or any desired width */
    height: 10px; /* Or any desired height */
  }